force-app/main/default/flows/Brag_on_publish.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Me</name>
        <label>Get Me</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <actionName>LinkedInShare.me</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Strip_html_tags_from_Body</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Publish_Post_on_LI</name>
        <label>Publish Post on LI</label>
        <locationX>308</locationX>
        <locationY>648</locationY>
        <actionName>LinkedInShare.share</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>postBody</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Strip_html_tags_from_Body</name>
        <label>Strip html tags from Body</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <actionName>StripHtmlInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Post_Body</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>htmls</name>
            <value>
                <elementReference>$Record.Body__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Post_Body</name>
        <label>Set Post Body</label>
        <locationX>308</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>postBody.author</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>urn:li:person:{!Get_Me.200.id}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postBody.lifecycleState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PUBLISHED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postBody.visibility.comx2elinkedinx2eugcx2eMemberNetworkVisibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PUBLIC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postBody.specificContent.comx2elinkedinx2eugcx2eShareContent.shareMediaCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NONE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postBody.specificContent.comx2elinkedinx2eugcx2eShareContent.shareCommentary.text</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>postText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Post_on_LI</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Brag on publish {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Brag on publish</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Published__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Brag__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Me</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>postText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>I&apos;ve just published a new post on my Brag App https://brag-app-dev-ed.my.site.com.

{!Strip_html_tags_from_Body}

This entire post has been automatically created from #Salesforce using External Services, Flow and #LinkedInAPI.</text>
    </textTemplates>
    <variables>
        <name>postBody</name>
        <apexClass>ExternalService__LinkedInShare_ShareRequestBody</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
